@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;

700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/SpaceMono-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
}

[class*=_icon-]::before {
  display: block;
}

._icon-copy:before {
  content: "\e900";
}

._icon-email:before {
  content: "\e901";
}

._icon-eye:before {
  content: "\e902";
}

._icon-globe:before {
  content: "\e903";
}

._icon-lockKey:before {
  content: "\e904";
}

._icon-rocket:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-user:before {
  content: "\e907";
}

._icon-WebSiteLogo:before {
  content: "\e908";
}

.navigation-button:not(:has(> a.button-outlined-link)):active {
  -webkit-animation: 0.4s linear scale-button;
          animation: 0.4s linear scale-button;
}

.navigation-button:not(:has(.button-outlined)):hover::before {
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

@-webkit-keyframes scale-button {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background-color: rgba(162, 89, 255, 0.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #a259ff;
  }
}

@keyframes scale-button {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background-color: rgba(162, 89, 255, 0.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #a259ff;
  }
}

.navigation-button {
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: calc(1rem + 5 * (100vw - 320px) / 860);
  width: calc(20rem + 54 * (100vw - 320px) / 860);
  height: calc(4rem + 10 * (100vw - 320px) / 860);
  background: #A259FF;
  overflow: hidden;
  font-size: calc(1rem + 6 * (100vw - 320px) / 860);
}

.navigation-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  -webkit-transform-origin: 0 bottom 0;
      -ms-transform-origin: 0 bottom 0;
          transform-origin: 0 bottom 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  border-radius: calc(1rem + 5 * (100vw - 320px) / 860);
}

.button-flexed {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 calc(4.5rem + 5 * (100vw - 320px) / 860);
}

.button-outlined {
  background-color: transparent;
  border: 1px solid #A259FF;
  padding: 0 !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(22.3rem + 24 * (100vw - 320px) / 860);
}

.button-outlined::before {
  background-color: transparent;
}

.button-outlined-link {
  font-size: calc(1rem + 4 * (100vw - 320px) / 860);
  color: #A259FF;
}

.main__trending-link {
  position: relative;
  top: 0;
  left: 0;
}

.main__trending-link:not(:has(.main__trending-image-job))::after {
  content: "";
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  padding: 25%;
  font-size: calc(1.4rem + 4 * (100vw - 320px) / 860);
  font-weight: 700;
  text-transform: capitalize;
}

.main__trending-link:not(:has(.main__trending-image-job)):hover::after {
  content: "NFT Image, click to get this";
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: scaleY(0.9);
      -ms-transform: scaleY(0.9);
          transform: scaleY(0.9);
}

.main__trending-image-box {
  width: 100%;
  min-height: 525px;
}

.main__trending-image {
  width: 100%;
  height: 33.3333333333dvh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.main__trending-images-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 15px;
}

.main__trending-image-job {
  border-radius: 20px;
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__trending-additional-jobs {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.main__top-creator-text-box {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.main__top-creators-info {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #3b3b3b;
}

.main__top-creator-image-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(1rem + 10 * (100vw - 320px) / 860);
  text-align: center;
  position: relative;
}

.main__top-creator-image {
  width: 120px;
  height: 120px;
}

.main__top-creator-result-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Work Sans", monospace;
  font-size: calc(1.2rem + 4 * (100vw - 320px) / 860);
  text-overflow: clip;
}

.main__top-creator-sale,
.main__top-creator-number {
  font-size: calc(1rem + 4 * (100vw - 320px) / 860);
}

.main__top-creator-level {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: calc(1.2rem + 4 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #000;
}

.main__browse-image-box {
  width: 100%;
  min-height: 350px;
  position: relative;
  top: 0;
  left: 0;
}

.main__browse-link {
  position: relative;
  top: 0;
  left: 0;
}

.main__browse-link:hover .main__browse-image {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-filter: blur(0.75rem);
          filter: blur(0.75rem);
}

.main__browse-link:hover .main__browse-category-image {
  -webkit-transition: all 900ms ease;
  transition: all 900ms ease;
  opacity: 1;
  visibility: visible;
}

.main__browse-image {
  width: 100%;
  height: 30dvh;
  border-radius: calc(1rem + 5 * (100vw - 320px) / 860) calc(1rem + 5 * (100vw - 320px) / 860) 0px 0px;
}

.main__browse-category-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.main__browse-category-title-box {
  padding: 20px 30px 25px 30px;
}

.main__discover-nft-image-container {
  -ms-grid-columns: (15.3333333333dvw)[3];
  grid-template-columns: repeat(3, 15.3333333333dvw);
}

.main__discover-nft-image-box {
  width: 100%;
  height: calc(44rem + 29 * (100vw - 320px) / 860);
}

.main__discover-nft-link {
  width: 100%;
}

.main__discover-nft-image {
  width: 100%;
  height: 44.0298507463dvh;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.main__discover-nft-title-box {
  padding: 25px 30px 20px 30px;
  gap: calc(1.5rem + 10 * (100vw - 320px) / 860) !important;
}

.main__discover-nft-title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.main__discover-nft-title-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__discover-nft-price-box,
.main__discover-nft-bid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.main__discover-nft-image-price {
  color: #858584;
  font-family: "Space Mono", monospace;
  font-size: calc(0.8rem + 4 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.main__discover-nft-image-price-number {
  font-family: "Space Mono", monospace;
  font-size: calc(1.2rem + 4 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}

.main__auction {
  height: calc(60rem + 40 * (100vw - 320px) / 860) !important;
  max-width: 100%;
  margin: 0 auto;
}

.main ._ibg {
  position: relative;
  top: 0;
  right: 0;
}

.main__auction-bg {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1rem) brightness(0.6);
          filter: blur(1rem) brightness(0.6);
  z-index: -1;
}

.main__auction-screen {
  height: 100%;
}

.main__auction-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: calc(4rem + 20 * (100vw - 320px) / 860) 0;
  gap: 40px;
}

.main__auction-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(2rem + 10 * (100vw - 320px) / 860);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
}

.main__coming-soon-title {
  font-family: "Work Sans", monospace;
  font-size: calc(4.1rem + 10 * (100vw - 320px) / 860) !important;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

.main__auction-btn {
  width: calc(16.8rem + 30 * (100vw - 320px) / 860);
  font-size: calc(1rem + 2 * (100vw - 320px) / 860);
}

.main__auction-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
  height: calc(11.7rem + 30 * (100vw - 320px) / 860);
  padding: calc(2rem + 10 * (100vw - 320px) / 860);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: rgba(59, 59, 59, 0.1);
  border-radius: 20px;
}

.main__auction-clock-title {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: calc(1rem + 2 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.main__auction-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.main__auction-clock-measure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: var(--Text, #FFF);
  font-family: Space Mono;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.main__auction-clock-number {
  line-height: 120%;
}

.main .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.main .dot::before,
.main .dot::after {
  content: ":";
}

.main__auction-clock-measure-title {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: calc(1rem + 2 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.main__question-text {
  text-align: center;
}

.main__question-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(1rem + 10 * (100vw - 320px) / 860);
  padding: calc(2rem + 10 * (100vw - 320px) / 860);
}

.main__question-image-box img {
  border-radius: 50%;
  background: transparent;
  width: 16.6666666667dvw;
  height: 39.8633257403dvh;
}

.main__question-title-box {
  text-align: center;
}

.main__question-description {
  font-size: calc(1.2rem + 4 * (100vw - 320px) / 860) !important;
}

.main__join-image-box {
  padding: calc(5rem + 10 * (100vw - 320px) / 860);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  gap: calc(3rem + 10 * (100vw - 320px) / 860) !important;
}

.main__join-image {
  width: 28.3333333333dvw;
  border-radius: calc(2rem + 2 * (100vw - 320px) / 860);
}

.main__join-image-title-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30rem + 125 * (100vw - 320px) / 860);
          flex: 0 1 calc(30rem + 125 * (100vw - 320px) / 860);
}

.main__join-image-title-box-top {
  gap: 4rem;
}

.main__join-image-title {
  color: #fff;
  font-family: "Work Sans", monospace;
  font-size: calc(2.8rem + 10 * (100vw - 320px) / 860) !important;
  font-style: normal;
  font-weight: 600;
  line-height: 120% !important;
}

.main__join-text {
  color: #fff;
  font-family: "Work Sans", monospace;
  font-size: calc(1.6rem + 6 * (100vw - 320px) / 860) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160% !important;
  text-transform: capitalize;
}

.main__join-image-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__join-input {
  width: 21.6666666667dvw;
  height: calc(4rem + 20 * (100vw - 320px) / 860);
  padding: 2rem 5rem 2rem 1rem !important;
  border-radius: calc(1rem + 5 * (100vw - 320px) / 860);
  font-size: 1.8rem;
}

.main__join-input:focus::-webkit-input-placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__join-input:focus::-moz-placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__join-input:focus:-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__join-input:focus::-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__join-input:focus::placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main .suggestion {
  color: #1c1c1c;
  font-weight: 700;
  margin-left: 1.5rem;
  padding: 0 !important;
  font-size: 1.5rem;
}

.main__join-button {
  padding: calc(1.5rem + 5 * (100vw - 320px) / 860) calc(3.5rem + 5 * (100vw - 320px) / 860);
  width: 24.6rem;
  height: calc(4rem + 20 * (100vw - 320px) / 860);
  left: -3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

*:focus {
  outline: none;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #fff !important;
}

*::-moz-selection {
  -moz-user-select: text;
       user-select: text;
  background-color: rgba(0, 127, 254, 0.4392156863);
  color: #fff;
}

*::selection {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  background-color: rgba(0, 127, 254, 0.4392156863);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited,
a:focus {
  outline: none;
  text-decoration: none;
}

input,
textarea,
button {
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Work Sans", monospace;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  background-color: #000;
  overflow: hidden scroll;
}

::-webkit-scrollbar {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #0b0b0b;
  height: 10rem;
}

body.lock {
  overflow-y: hidden;
}

.wrapper {
  width: 100dvw;
  height: 100dvh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40.4rem;
  grid-template-rows: 1fr 40.4rem;
}

[class$=__container] {
  max-width: 92.1875%;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-description,
.main__question-description {
  font-family: "Work Sans", monospace;
  font-size: calc(1.8rem + 5.95 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.4);
}

/* ======================================================== */

.main {
  color: #fff;
  margin: calc(8rem + 10 * (100vw - 320px) / 860) 0 8rem 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-section {
  max-width: 82.03125%;
}

.main-section {
  margin: calc(4rem + 40 * (100vw - 320px) / 860) auto;
  padding: calc(4rem + 40 * (100vw - 320px) / 860) 0;
}

.main-section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-title {
  line-height: 120%;
  font-size: calc(1rem + 28 * (100vw - 320px) / 860);
}

.main-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  gap: calc(1rem + 10 * (100vw - 320px) / 860) !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: (16.6666666667dvw)[4];
  grid-template-columns: repeat(4, 16.6666666667dvw);
}

.main__image-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: calc(2rem + 10 * (100vw - 320px) / 860);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__text {
  font-family: "Work Sans", monospace;
  font-size: calc(1.8rem + 4 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.main__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: calc(2rem + 10 * (100vw - 320px) / 860);
  overflow: hidden;
}

.main__image-box {
  height: auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(1rem + 5 * (100vw - 320px) / 860);
  overflow: hidden;
}

.main__image-box:not(:has(.main__trending-link)) {
  background-color: #222222;
}

.main__image-container {
  width: 100%;
}

.main__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: calc(1rem + 5 * (100vw - 320px) / 860) calc(1rem + 5 * (100vw - 320px) / 860) 0 0;
}

.main__image-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(2.5rem + 5 * (100vw - 320px) / 860);
}

.main__image-title {
  font-family: "Work Sans", monospace;
  font-size: calc(1.8rem + 4 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
}

.main__image-author-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(1rem + 2 * (100vw - 320px) / 860);
}

.main__image-author-name {
  color: #fff;
  font-family: "Work Sans", monospace;
  font-size: calc(1rem + 6 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__image-author {
  width: 2.4rem;
  height: 2.4rem;
}

.main__text-box--lower-gap {
  gap: 1rem;
  margin-bottom: 6rem;
}

/* ======================================================== */

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.social-media-list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-item {
  width: 2.4rem;
  height: 2.4rem;
}

.social-link {
  color: #ccc;
}

.social-link img {
  width: 3.2rem;
  height: 3.2rem;
}

/* ======================================================== */

.menu {
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  padding: 5px calc(0.6rem + 2 * (100vw - 320px) / 860);
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.menu__item::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.menu__item:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.6rem + 2 * (100vw - 320px) / 860);
  width: 60%;
  height: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.menu__link {
  color: #fff;
  font-size: calc(1rem + 6 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 600;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  padding: calc(1rem + 5 * (100vw - 320px) / 860) 0;
  z-index: 10;
  height: 100px;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo_box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(0.7rem + 5 * (100vw - 320px) / 860);
}

.header__logo {
  font-size: calc(1.6rem + 16 * (100vw - 320px) / 860);
  color: #A259FF;
}

.header__title {
  color: #fff;
  font-size: calc(1.4rem + 5 * (100vw - 320px) / 860);
  font-family: "Space Mono", monospace;
  line-height: 140%;
  text-transform: capitalize;
}

.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.header__list {
  width: 100%;
}

.header__list--active {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 70%;
  height: 70%;
}

.burger {
  z-index: 2;
  display: none;
  cursor: pointer;
}

.main__discover-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: calc(1.5rem + 5 * (100vw - 320px) / 860);
}

.main__discover {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: calc(2rem + 10 * (100vw - 320px) / 860);
}

.main__discover-title,
.main-title {
  font-family: "Work Sans", monospace;
  font-size: calc(3.8rem + 29 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  color: #fff;
}

.main__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(2rem + 10 * (100vw - 320px) / 860);
}

.main__achievement-item {
  width: calc(13rem + 20 * (100vw - 320px) / 860);
}

.main__achievement-result {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: calc(2rem + 8 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.main__discover-title-box {
  padding: calc(1.5rem + 5 * (100vw - 320px) / 860);
}

.main__discover-image-box {
  width: calc(100% + 10px);
}

.footer {
  background-color: #0b0b0b;
  padding: 4rem 0;
  min-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.footer__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8rem;
}

.footer__contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28.4rem 28.4rem 58.4rem;
  grid-template-columns: 28.4rem 28.4rem 58.4rem;
  grid-auto-rows: 1fr;
  gap: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.footer__text {
  color: #ccc;
  font-size: 1.6rem;
  width: 28.4rem;
}

.footer__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.footer__list-item {
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer__list-item:hover::before {
  left: 0;
  width: 100%;
}

.footer__link {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
  font-size: 1.6rem;
}

.footer__form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.footer__form-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__join-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
  padding: 1rem;
  padding-right: 6rem;
  height: 6rem;
}

.footer__join-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  left: 0;
  width: 100%;
  height: 6rem;
}

.footer__copyright-box {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  border-top: 1px solid #212121;
  padding-top: 2rem;
}

.footer__text-copyright {
  font-size: 1.2rem;
  color: #ccc;
}

.header__title--grey {
  color: #ccc;
  font-weight: 400;
  font-family: "Work Sans", monospace;
  line-height: 140%;
}

.main {
  margin: 0;
}

.main__registration {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

.main__registration-image-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
}

.main__registration-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.main__registration-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  position: relative;
  top: 0;
  left: 0;
}

.main__registration-text-box {
  width: 46rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main__registration-title {
  font-size: calc(3.8rem + 13 * (100vw - 320px) / 860);
}

.main__registration-text {
  font-size: calc(1.6rem + 6 * (100vw - 320px) / 860);
}

.main__registration-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(1rem + 5 * (100vw - 320px) / 860);
}

.main__registration-input-box {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 2rem;
  background-color: #fff;
  height: 4.6rem;
  width: 33rem;
  border-radius: 1rem !important;
}

.main__registration-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.2rem;
  height: 4.6rem;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  border-radius: 1rem 0 0 1rem;
}

.main__registration-input {
  padding-left: 5.2rem;
  width: 100%;
  height: inherit;
  font-family: "Work Sans", monospace;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.main__registration-input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::-moz-placeholder {
  text-transform: capitalize;
}

.main__registration-input:-ms-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::-ms-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::placeholder {
  text-transform: capitalize;
}

.main__registration-button {
  width: 33rem;
}

.main__registration-input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::-moz-placeholder {
  text-transform: capitalize;
}

.main__registration-input:-ms-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::-ms-input-placeholder {
  text-transform: capitalize;
}

.main__registration-input::placeholder {
  text-transform: capitalize;
}

.main .red::-webkit-input-placeholder {
  color: #8f0707;
}

.main .red::-moz-placeholder {
  color: #8f0707;
}

.main .red:-ms-input-placeholder {
  color: #8f0707;
}

.main .red::-ms-input-placeholder {
  color: #8f0707;
}

.main .red::placeholder {
  color: #8f0707;
}

.main__detail-image-container {
  padding-bottom: 12rem !important;
}

.main__detail {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 8rem !important;
}

.main__detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__detail-section {
  position: relative;
  z-index: 2;
  top: 15rem;
  left: 0;
}

.main__detail-avatar-img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.main__detail-text-box {
  padding: calc(3rem + 10 * (100vw - 320px) / 860) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main__detail-text-top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  margin-bottom: 3rem;
}

.main__detail-title {
  font-size: calc(2.8rem + 23 * (100vw - 320px) / 860);
}

.main__detail-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__detail-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.6rem;
          flex: 0 1 18.6rem;
}

.main__detail-text-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.main__detail-achievements {
  width: 100%;
}

.main__detail-bio-title {
  color: #858584;
  font-family: "Space Mono", monospace;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
}

.main__detail-bio-text {
  color: #fff;
  font-size: 2.2rem;
}

.main__detail-follow::before {
  content: "+";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #A259FF;
  font-size: 2rem;
}

.main__detail-tabs-list {
  margin: 2rem 0;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #3B3B3B;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 7rem;
  gap: 2rem;
}

.main__detail-tab-tem {
  color: #fff;
  text-align: center;
  font-family: "Work Sans", monospace;
  font-size: calc(1.6rem + 6 * (100vw - 320px) / 860);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  position: relative;
  cursor: pointer;
}

.main__detail-tab-tem::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #3B3B3B;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.main__detail-tab-tem:hover::before {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  visibility: visible;
  opacity: 1;
  width: calc(100% + 30px);
}

.main__detail-result {
  color: #FFF;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-radius: 20px;
  background: #858584;
  padding: calc(0.5rem + 5 * (100vw - 320px) / 860) calc(1rem + 20 * (100vw - 320px) / 860);
}

@media (max-width: 1453.5px) {
  .main__top-creators-container {
    grid-auto-rows: 60px;
  }

  .main__top-creators-info {
    padding: 30px;
  }

  .main__top-creator-image-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main__image-top-creator-title-box {
    gap: 5px;
    text-align: left;
  }

  .main__top-creator-image {
    width: 60px;
    height: 60px;
  }

  .main__top-creator-result-box {
    font-size: calc(1rem + 2 * (100vw - 320px) / 860);
    line-height: 140%;
  }

  .main__top-creator-sale,
  .main__top-creator-number {
    font-size: calc(0.8rem + 6 * (100vw - 320px) / 860);
  }

  .main-grid-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1294.5px) {
  .section-description,
  .main__question-description {
    font-size: calc(1.3rem + 3 * (100vw - 320px) / 860);
  }

  .main__achievements {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__achievement-item {
    width: calc(7rem + 20 * (100vw - 320px) / 860);
  }

  .main__achievement-result {
    font-size: calc(1.6rem + 6 * (100vw - 320px) / 860);
  }
}

@media (max-width: 1170.5px) {
  .main {
    margin: calc(5rem + 30 * (100vw - 320px) / 860) 0 4rem 0;
  }

  .main__discover {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 1053.5px) {
  .main__trending-image {
    height: 61.88dvh;
  }

  .main__browse-image {
    height: 39.8734177215dvh;
  }

  .main__image-box {
    width: 100%;
  }
}

@media (max-width: 1024.5px) {
  .wrapper {
    -ms-grid-rows: 1fr -webkit-max-content;
    -ms-grid-rows: 1fr max-content;
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
  }

  .main__discover-title,
  .main-title {
    font-size: calc(2.8rem + 10 * (100vw - 320px) / 860);
  }

  .footer__contents {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .main__registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }

  .main__registration-img {
    width: 110dvw;
  }

  .main__registration-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 1rem;
  }

  .main__registration-text-box {
    width: 31.5rem;
  }

  .main__detail-section {
    top: 18rem;
  }
}

@media (max-width: 768.5px) {
  .main__trending-collection {
    padding: 0;
  }

  .main__trending-images {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .main__trending-image-box:last-child {
    display: none;
  }

  .main__top-creators-container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .main__top-creators-container {
    grid-auto-rows: 80px;
    gap: calc(4rem + 10 * (100vw - 320px) / 860);
  }

  .main__top-creator-sale,
  .main__top-creator-number {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 860);
  }

  .main__browse-image-box {
    min-height: 231px;
  }

  .main__browse-category-title-box {
    padding: 20px 20px 25px 20px;
  }

  .main__discover-nft-image-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__auction {
    padding: 0;
  }

  .main ._ibg {
    background-color: rgba(255, 255, 255, 0.1647058824);
    border-radius: calc(2rem + -5 * (100vw - 320px) / 860);
    width: calc(100% - 90px);
  }

  .main__auction-bg {
    display: none;
  }

  .main__auction-body {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__auction-left {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

  .main__auction-right {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
    background-color: transparent;
  }

  .main__question-image-grid-container {
    -ms-grid-columns: (minmax(50%, 1fr))[1];
    grid-template-columns: repeat(1, minmax(50%, 1fr));
  }

  .main__question-image-box img {
    width: 100%;
  }

  .main__join-image-box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 4em 3rem;
    gap: calc(2rem + 10 * (100vw - 320px) / 860);
  }

  .main__join-image {
    width: 100%;
  }

  .main__join-image-title-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .main__join-image-title-box-top {
    gap: 2rem;
  }

  .main__join-image-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__join-input {
    width: 100%;
    padding: 2rem;
  }

  .main__join-button {
    left: 0;
    width: 100%;
  }

  .main-section {
    padding: calc(3rem + 10 * (100vw - 320px) / 860);
    margin: calc(3rem + 10 * (100vw - 320px) / 860) auto;
  }

  .main__text-box--lower-gap {
    margin-bottom: 4rem;
  }

  .menu {
    opacity: 0;
    visibility: hidden;
  }

  .header__logo_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    visibility: hidden;
  }

  .header__navigation--active {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    visibility: visible;
    background-color: #0b0b0b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list--active {
    padding: calc(1.5rem + 5 * (100vw - 320px) / 860);
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2.4rem;
    height: 2.4rem;
  }

  .burger__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
    position: relative;
    top: 0;
    left: 0;
  }

  .burger__item--active {
    gap: 0;
  }

  .burger__item--active::before,
  .burger__item--active::after {
    width: calc(0.9rem + 3.75 * (100vw - 320px) / 860);
  }

  .burger__item--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 0.1rem;
    left: 0;
  }

  .burger__item--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    bottom: 0;
    left: 0;
  }

  .burger__second-line,
  .burger__item::before,
  .burger__item::after {
    content: "";
    display: inline-block;
    width: calc(0.9rem + 3.75 * (100vw - 320px) / 860);
    height: 0.1rem;
    background-color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .burger__second-line--larger {
    width: calc(1.5rem + 3 * (100vw - 320px) / 860);
  }

  .burger__second-line--active {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main__detail-section {
    top: 22rem;
  }

  .main__detail-text-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3rem;
  }

  .main__detail-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main__detail-button {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .main__detail-text-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 645.5px) {
  .main__text-box {
    width: calc(30rem + 30 * (100vw - 320px) / 860);
  }
}

@media (max-width: 610.5px) {
  .main__trending-images {
    -ms-grid-columns: (calc(100% + 10px))[1];
    grid-template-columns: repeat(1, calc(100% + 10px));
  }
}

@media (max-width: 445.5px) {
  .main__discover-nft-image-container {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 425.5px) {
  .main__detail-image-container > .main__image-box:nth-child(n+6):nth-child(-n+9) {
    display: none;
  }

  .main__detail-avatar-img {
    -webkit-transform: translateX(calc(50% - 20px));
        -ms-transform: translateX(calc(50% - 20px));
            transform: translateX(calc(50% - 20px));
  }

  .main__detail-tab-tem:hover::before {
    width: 100%;
  }

  .main__detail-result {
    display: none;
  }
}

@media (max-width: 375.5px) {
  .main__trending-image-box:nth-child(2) {
    display: none;
  }
}